<div class="view jarallax" data-jarallax='{"speed": 0.2}'
  style="background-image: url(./assets/design/background.jpg);">
  <div class="full-bg-img mask rgba-black-light">
    <div class="container flex-center">
      <div class="row pt-5 mt-3 w-100">
        <div class="col-md-12">
          <div class="text-center">

            <!-- Card -->
            <div class="card" style="margin-left:20%; margin-right: 20%;">
              <!-- <div class="card-body"> -->
              <h5 style="height: 100%;" class="aqua-gradient">Sign In</h5>
              <form #invite="ngForm" style="margin-right: 20%;margin-left: 20%;">




                <div class="md-form md-outline">

                  <input name="name" id="defaultForm-pass1" mdbInput [(ngModel)]="name" required mdbValidate
                    class="form-control">
                  <label data-error="wrong" data-success="right" for="defaultForm-pass1">Your name</label>
                </div>{{name}}
                <div class="md-form md-outline">
                  <input mdbInput mdbValidate name="input" type="email" id="form8" class="form-control"
                    [(ngModel)]="mail" #input="ngModel" required pattern="[^ @]*@[^ @]*">
                  <label for="form8">Your Email</label>
                  <mdb-error *ngIf="input.invalid && (input.dirty || input.touched)">Input invalid</mdb-error>
                  <!-- <mdb-success *ngIf="input.valid && (input.dirty || input.touched)">Input valid</mdb-success> -->
                </div>

                <div class="md-form md-outline">
                  <input name="phone" mdbInput mdbValidate required type="text" id="defaultForm-pass1"
                    [(ngModel)]="phone" class="form-control">
                  <label data-error="wrong" data-success="right" for="defaultForm-pass1">Your phone</label>
                </div>

                <div class="text-center pb-2">

                  <button type="submit" (click)="frame.show()" [disabled]="!invite.valid" class="btn aqua-gradient">Sign
                    in</button>

                </div>

              </form>

              <!-- </div> -->
            </div>




            <!-- <button type="button" mdbBtn color="primary" class="waves-light" data-toggle="modal" data-target="#basicExample"
   mdbWavesEffect>Launch Modal</button> -->

            <div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
              aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
                <!--Content-->
                <div class="modal-content text-center">
                  <!--Header-->
                  <div class="modal-header d-flex justify-content-center">
                    <p class="heading">Are you sure?</p>
                  </div>

                  <!--Body-->
                  <div class="modal-body">
                    <mdb-icon fas icon="times" size="4x" class="animated rotateIn"></mdb-icon>
                  </div>

                  <!--Footer-->
                  <div class="modal-footer justify-content-center">

                    
                      <!-- outline="true" -->
                      <a (click)="t=true" (click)="AddOrderToBranch()" mdbBtn color="danger" class="waves-effect" mdbWavesEffect>Yes</a>
                   
                    
                    <a type="button" mdbBtn color="danger" class="waves-effect" mdbWavesEffect data-dismiss="modal"
                      (click)="frame.hide()">No</a>
                    <!-- <div>{{IsOrder}}</div> -->

                    <div *ngIf="t==true">
                      <div *ngIf="IsOrder==false">
                        הנעל לא קיימת בשום סניף
                      </div>
                      <div *ngIf="IsOrder==true">
                        הנעל הוזמנה לסניף הנוכחי
                      </div>
                    </div>

                  </div>
                </div>
                <!--/.Content-->
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>