<div class="view jarallax" data-jarallax='{"speed": 0.2}'
  style="background-image: url(./assets/design/background.jpg);">
  <div class="full-bg-img mask rgba-black-light">
    <div class="container flex-center">
      <div class="row pt-5 mt-3 w-100">
        <div class="col-md-12">
          <div class="text-center">

            <mdb-card *ngIf="start==true" style="width: 50%;height:60%;margin-left: 25%;">

              <mdb-card-body>
                <!--Title-->
                <mdb-card-title>
                  <h4>Hello {{worker_name}}</h4>
                </mdb-card-title>

                <!--Text-->
                <mdb-card-text ><b> Please select the required action</b>
                </mdb-card-text>

                <button style="width: 60%;" (click)="showCurrent()" mdbBtn color="primary" class="btn aqua-gradient" mdbWavesEffect> request
                  from current branch</button>
                <button (click)="showOthers()"  style="width: 60%;" mdbBtn color="primary" class="btn aqua-gradient" mdbWavesEffect> request
                  from others branches</button><br>
                <!-- <button (click)="addShoe()" style="width: 60%;" mdbBtn color="primary" class="btn aqua-gradient" mdbWavesEffect> add shoe to
                  stock</button> -->
              </mdb-card-body>
            </mdb-card>


            <!-- Card -->
            <mdb-card *ngIf="cur==true && finish==false" style="width:50%;height:50%px;margin-left: 25%;">
              <!-- https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg -->
              <!-- Card image -->
              <!-- <div  class="view overlay zoom" *ngFor='let item of src'>
        <img  class="card-img-top" src="{{item.picture}}"
          alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div> -->
              <div color="primary" class="modal-header" class="gradient-card-header aqua-gradient align-items-center">
                <button type="button" class="close pull-right" aria-label="Close">
                  <!-- <span aria-hidden="true">×</span> -->
                </button>

                <h4 class="modal-title w-100" id="myModalLabel">Order from current branch</h4>
              </div>
              <!-- <div *ngIf="finish==true" class="view overlay zoom" style="width:100px;height: 100px;">
                there are no orders now!
              </div> -->
              <!-- Card content -->
              <div *ngIf="finish==false" class="card-body">


                <!-- Text -->

                <!-- class="view overlay zoom"  -->
                <div style="float: right;">
                  <img class="card-img-top" style="width:60%;height:60%;" src="assets/shoes/{{order.picture}}"
                    alt="shoe">
                </div>

                <div class="input-group mb-3">
                  Size: {{order.size}}
                </div>

                <div class="input-group mb-3">
                  Color: {{order.color}}
                </div>

                <div class="input-group mb-3">
                  Name Of Customer: {{order.name_customer}}
                </div>

                <button type="button" mdbBtn color="primary" (click)="showStart()" class="btn aqua-gradient"
                  mdbWavesEffect>
                  Stop</button>
                <button type="button" (click)="GetOrderFromStock()" class="btn aqua-gradient" mdbBtn color="primary"
                  mdbWavesEffect>
                  Next</button>
              </div>
            </mdb-card>
            <!-- Card -->


            <!-- 2 -->



            <!-- Card -->
            <mdb-card *ngIf="oth==true" class="card" style="width: 50%;height:50%;margin-left: 25%;">
              <!-- https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg -->
              <!-- Card image -->
              <!-- <div  class="view overlay zoom" *ngFor='let item of src'>
        <img  class="card-img-top" src="{{item.picture}}"
          alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div> -->
              <div color="primary" *ngIf="finish_order_from_b==false" class="modal-header" class="gradient-card-header aqua-gradient align-items-center">
                <button type="button" class="close pull-right" aria-label="Close">
                
                </button>

                <h4 class="modal-title w-100" id="myModalLabel">Request from other branch</h4>
              </div>
              <!-- <div *ngIf="finish_order_from_b==true" class="view overlay zoom" style="width:100px;height: 100px;">
                there are no orders now!
              </div> -->
              <!-- Card content -->
              <div *ngIf="finish_order_from_b==false" class="card-body">


                <!-- Text -->

                <!-- class="view overlay zoom"  -->
                <div style="float: right;">
                  <img class="card-img-top" style="width:60%;height: 60%;"
                    src="assets/shoes/{{order_from_branch.picture}}" alt="shoeFromOtherBranch">
                </div>

                <div class="input-group mb-3">
                  Size: {{order_from_branch.size}}
                </div>

                <div class="input-group mb-3">
                  Color: {{order_from_branch.color}}
                </div>

                <div class="input-group mb-3">
                  Name Of Customer: {{order_from_branch.name_customer}}
                </div>

                <div class="input-group mb-3">
                  Order num: {{order_from_branch.order_id}}
                </div>
                <!-- Button -->
                <!-- <a href="#" class="btn btn-default">Button</a> -->
                <!-- <button type="button" class="btn btn-elegant">Elegant</button> -->
                <!-- <a class="btn btn-unique">Button</a> -->
                <button type="button" (click)="showStart()" mdbBtn color="primary" class="btn aqua-gradient"
                  mdbWavesEffect>
                  Stop</button>
                <button type="button" (click)="GetOrderfromBranch()" class="btn aqua-gradient" mdbBtn color="primary"
                  mdbWavesEffect>
                  Next</button>
              </div>
            </mdb-card>
            <!-- Card -->


            <div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
              aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-sm modal-notify modal-success" role="document">
                <!--Content -->
                <div class="modal-content text-center">
                  <!--Header-->
                  <div class="modal-header d-flex justify-content-center">
                    <p class="heading">There are no orders now</p>
                  </div>

                  <!--Body -->
                  <div class="modal-body">
                    <mdb-icon fas icon="times" size="4x" class="animated rotateIn"></mdb-icon>
                  </div>

                  <!--Footer-->
                  <div class="modal-footer justify-content-center">


                    <!-- outline="true" -->
                    <a mdbBtn (click)="frame.hide()" (click)="start_back()" color="danger" class="aqua-gradient" mdbWavesEffect>OK</a>





                  </div>
                </div>
                <!--/.Content-->
              </div>
            </div>

            <!-- </div> -->


          </div>
        </div>
      </div>
    </div>
  </div>
</div>