<div class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(./assets/design/background.jpg);">
    <div class="full-bg-img mask rgba-black-light">
        <div class="container flex-center">
            <div class="row pt-5 mt-3 w-100">
                <div class="col-md-12">
                    <div class="text-center">
                        <br><br><br>
                        <h2 class="font-weight-bold pink-lighter-hover mb-3">Shoes-Time</h2>
                        <br><br>





                        <button (click)="frame.show()" mdbBtn type="button" class="btn aqua-gradient" mdbWavesEffect>
                            <span>Enter</span>
                        </button>

                        <!-- <br>class="font-weight-bold pink-lighter-hover mb-3"
<button mdbBtn type="button" color="blue-grey"  mdbWavesEffect>Blue-Grey</button>
<br>

<button > to enter</button>
<button mdbBtn type="button" gradient="peach" rounded="true" mdbWavesEffect>Peach</button>
<button mdbBtn type="button" gradient="purple" rounded="true" mdbWavesEffect>Purple</button>
<button mdbBtn type="button" gradient="blue" rounded="true" mdbWavesEffect>Blue</button>
<button mdbBtn type="button" gradient="aqua" rounded="true" mdbWavesEffect>Aqua</button> -->





                        <div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1"
                            role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog cascading-modal modal-avatar modal-sm" role="document">
                                <!--Content-->
                                <div class="modal-content">

                                    <!--Header-->
                                    <div class="modal-header">
                                        <!-- https://mdbootstrap.com/img/Photos/Avatars/img%20%281%29 -->
                                        <img src="./assets/try.jpg" alt="avatar" class="rounded-circle img-responsive">
                                    </div>
                                    <!--Body-->
                                    <div class="modal-body mb-1">
                                        <h5 class="mt-1 mb-2 text-center">Sign In</h5>

                                        <div class="md-form ml-0 mr-0">
                                            <input type="password" [(ngModel)]="id_emp" type="text" id="form29"
                                                class="form-control form-control-sm ml-0" mdbInput mdbValidate>
                                            <!-- [formControl]="modalFormAvatarPassword" -->
                                            <label for="form29" class="ml-0">Enter Id</label>
                                        </div>

                                        <div class="md-form ml-0 mr-0">
                                            <input type="password" [(ngModel)]="password" type="text" id="form30"
                                                class="form-control form-control-sm ml-0" mdbInput mdbValidate>
                                            <!-- [formControl]="modalFormAvatarPassword" -->
                                            <label for="form30" class="ml-0">Enter password</label>
                                        </div>
                                        <!-- <mdb-error
                    *ngIf="modalFormAvatarPassword.invalid && (modalFormAvatarPassword.dirty || modalFormAvatarPassword.touched)">
                    Input invalid
                </mdb-error>
                <mdb-success
                    *ngIf="modalFormAvatarPassword.valid && (modalFormAvatarPassword.dirty || modalFormAvatarPassword.touched)">
                    Input valid
                </mdb-success> -->

                                        <div *ngIf="worker==true" class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text" for="inputGroupSelect01">Choose
                                                    Branch</label>
                                            </div>


                                            <select class="custom-select" id="inputGroupSelect01"
                                                [(ngModel)]="worker_branch">

                                                <option *ngFor="let branch of braches" [ngValue]="branch" value="">
                                                    {{branch}}</option>
                                            </select>
                                        </div>


                                        <div class="text-center mt-4">
                                            <!--routerLink="{{url}}" routerLink="/home"     (click)="frame.hide()" -->
                                            <button (click)="IsEmployee()" class="btn aqua-gradient" mdbBtn color="cyan"
                                                rounded="true" mdbWavesEffect>Enter
                                                <mdb-icon fas icon="sign-in-alt" class="ml-1"></mdb-icon>
                                            </button>
                                            <div *ngIf="Is_employee==false">one of the fieled not correct</div>
                                        </div>
                                    </div>

                                </div>
                                <!--/.Content-->
                            </div>
                        </div>




                        <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d27049.54889536807!2d34.83353553960586!3d32.064011715558394!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x151d4b13537304b1%3A0x83104b19dd88303e!2z15LXkdei16rXmSA2LCDXqtecINeQ15HXmdeRINeZ16TXlQ!3m2!1d32.051823899999995!2d34.7963139!4m5!1s0x151d4a3f24b103b1%3A0x1bede1cbd1ab72de!2z15PXntep16cg15DXnNeZ16LXlteoIDIsINeR16DXmSDXkdeo16c!3m2!1d32.075887699999996!2d34.8358002!5e0!3m2!1siw!2sil!4v1591824616776!5m2!1siw!2sil" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe> -->


                    </div>
                </div>
            </div>
        </div>