
  
  .pink-lighter-hover {
    color: #ec407a;
    -webkit-transition: .4s;
    transition: .4s; }
  .pink-lighter-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #f386aa; }
  
  .pink-darker-hover {
    color: #ec407a;
    -webkit-transition: .4s;
    transition: .4s; }
  .pink-darker-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #cb1452; }
  
  