<!--Main Navigation-->
<!-- <header class="intro-header"> -->

<!-- Intro Section -->
<!-- https://mdbootstrap.com/img/Photos/Others/img%20%2848%29.jpg assets/back.jpg-->
<div class="view jarallax" data-jarallax='{"speed": 0.2}'
  style="background-image: url(./assets/design/background.jpg);">
  <div class="full-bg-img mask rgba-black-light">
    <div class="container flex-center">
      <div class="row pt-5 mt-3 w-100">
        <div class="col-md-12">
          <div class="text-center">
            <h2 class="h1 h1-reponsive white-text font-up font-bold mb-3 wow fadeInDown" data-wow-delay="0.3s">
              <strong>Shoes
              </strong></h2>
            <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s">
            <h5 class="font-up mb-5 white-text wow fadeInDown" data-wow-delay="0.4s"><strong>s&s</strong></h5>

            <!-- <a routerLink="/join"  mdbWavesEffect size="lg" mdbBtn color="white" outline="true" class="wow fadeInDown waves-light" 
                data-wow-delay="0.4s"
                  mdbWavesEffect>Join us</a> -->
            enter shoe code :<br><input type="number" (keyup.enter)="check()" [(ngModel)]="id" /> <br>
            <a (click)="check()" size="lg" mdbBtn color="white" outline="true" class="wow fadeInDown waves-light"
              data-wow-delay="0.4s" mdbWavesEffect>Scan</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






<div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">The shoe not found</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <mdb-icon fas icon="times" size="4x" class="animated rotateIn"></mdb-icon>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">


        <!-- outline="true" -->
        <a mdbBtn color="danger" class="waves-effect" mdbWavesEffect (click)="frame.hide()">Ok</a>


    
        <!-- <div>{{IsOrder}}</div> -->


      </div>

    </div>
  </div>
  <!--/.Content-->
</div>


<!-- </header> -->
<!--Main Navigation-->













<!-- 
  <button type="button" mdbBtn color="default" rounded="true" data-toggle="modal" data-target="#basicExample"
        (click)="frame.show()" mdbWavesEffect>Launch Modal
</button>

<div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <mdb-icon fas icon="user" class="prefix grey-text"></mdb-icon>
          <input type="text" id="orangeForm-name" class="form-control" 
                 mdbInput mdbValidate>
          <label for="orangeForm-name">Your name</label>
          <mdb-error *ngIf="signupFormModalName.invalid && (signupFormModalName.dirty || signupFormModalName.touched)">
            Input invalid
          </mdb-error>
          <mdb-success *ngIf="signupFormModalName.valid && (signupFormModalName.dirty || signupFormModalName.touched)">
            Input valid
          </mdb-success>
        </div>
        <div class="md-form mb-5">
          <mdb-icon fas icon="envelope" class="prefix grey-text"></mdb-icon>
          <input type="email" id="orangeForm-email" class="form-control"
                 mdbInput mdbValidate>
          <label for="orangeForm-email">Your email</label>
          <mdb-error
            *ngIf="signupFormModalEmail.invalid && (signupFormModalEmail.dirty || signupFormModalEmail.touched)">Input
            invalid
          </mdb-error>
          <mdb-success
            *ngIf="signupFormModalEmail.valid && (signupFormModalEmail.dirty || signupFormModalEmail.touched)">Input
            valid
          </mdb-success>
        </div>

        <div class="md-form mb-4">
          <mdb-icon fas icon="lock" class="prefix grey-text"></mdb-icon>
          <input type="password" id="orangeForm-pass" class="form-control" 
                 mdbInput mdbValidate>
          <label for="orangeForm-pass">Your password</label>
          <mdb-error
            *ngIf="signupFormModalPassword.invalid && (signupFormModalPassword.dirty || signupFormModalPassword.touched)">
            Input invalid
          </mdb-error>
          <mdb-success
            *ngIf="signupFormModalPassword.valid && (signupFormModalPassword.dirty || signupFormModalPassword.touched)">
            Input valid
          </mdb-success>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="deep-orange" class="waves-light" mdbWavesEffect>Sign up</button>
      </div>
    </div>
  </div>
</div> -->