


<div class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(./assets/222.jpg);">
  <div class="full-bg-img mask rgba-black-light">
    <div class="container flex-center">
      <div class="row pt-5 mt-3 w-100">
        <div class="col-md-12">
          <div class="text-center">
    


<!-- start -->

<mdb-card style="width: 50%;height:50%;margin-left: 25%;">
   
  <mdb-card-body>
    <!--Title-->
    <mdb-card-title>
      <h4>מצטערים</h4>
    </mdb-card-title>

    <!--Text-->
    <mdb-card-text> הנעל לא קיימת בסניף
    </mdb-card-text>

    <a routerLink='/branchs/' mdbBtn color="primary" class="btn aqua-gradient" mdbWavesEffect> לרשימת סניפים</a>
    <a routerLink='/order-from-branch/' mdbBtn color="primary" class="btn aqua-gradient" mdbWavesEffect>להזמנה מסניף אחר</a>
  </mdb-card-body>
</mdb-card>

<!-- end -->
      
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 



    
    
    


  







