
<div class="view jarallax" data-jarallax='{"speed": 0.2}'
style="background-image: url(./assets/design/background.png);">
<div class="full-bg-img mask rgba-black-light"></div>
    <div class="container flex-center"></div>
       <div class="row pt-5 mt-3 w-100"></div>
            <div class="col-md-12">
                <div class="text-center">
            <div class="card" style="width: 50%;height:50%;margin-left: 25%;margin-top: 25%;">
<ngx-paypal [config]="payPalConfig"></ngx-paypal> 
            </div>
   

          