<div class="view jarallax" data-jarallax='{"speed": 0.2}'
  style="background-image: url(./assets/design/background.jpg);">
  <div class="full-bg-img mask rgba-black-light">
    <div class="container flex-center row pt-5 mt-3 w-100 col-md-12">
<!-- margin -35% -->
      <table class="table text-center" style="margin-top: -10%;">
        <thead>
          <tr>
            <th>
              select a size
              <select class="mdb-select md-form" class="custom-select" id="inputGroupSelect01" [(ngModel)]="mysize">
                <!-- <option value="" disabled selected>Choose your size</option> -->
                <option *ngFor="let size of sizes" [ngValue]="size" color="pink-text" value="">{{size}}
                </option>
              </select>
            </th>
            <th>
              select a kind
              <select class="mdb-select md-form" class="custom-select" id="inputGroupSelect02" [(ngModel)]="mykind">
                <!-- <option disabled selected> choose</option> -->
                <option [ngValue]="1" color="pink-text" value="">
                  men
                </option>
                <option [ngValue]="2" color="pink-text" value="">
                  woman
                </option>
              </select>
            </th>
            <th>
              select a color
              <select class="custom-select" id="inputGroupSelect02" [(ngModel)]="mycolor">
                <!-- <option disabled selected> choose</option> -->
                <option *ngFor="let color of colors" [ngValue]="color.id_color" color="pink-text" class="custom-select"
                  value="">
                  {{color.color}}
                </option>
              </select>
            </th>
            <th>

              select a type
              <select class="mdb-select md-form" class="custom-select" id="inputGroupSelect03" [(ngModel)]="mytype">

                <option *ngFor="let type of types" [ngValue]="type" color="pink-text" value="">{{type}}
                </option>
              </select>
            </th>
            <th>
              select a max price
              <select class="mdb-select md-form" class="custom-select" id="inputGroupSelect04"
                searchable="Search here.." [(ngModel)]="myprice">

                <option *ngFor="let price of prices" [ngValue]="price" color="pink-text" value="">{{price}}
                </option>
              </select>
            </th>
            <th>
              <button (click)="GetShoesByCategory()" type="button" mdbBtn color="primary"
              class="btn aqua-gradient" mdbWavesEffect><mdb-icon fas icon="search"></mdb-icon></button>
            </th>
            
          </tr>
        </thead>
      </table>

      <div *ngIf="is_found==false">
        <h2>not found</h2>
      </div>
      <div *ngIf="is_found==true" style="margin-top: -15%; width: 65%; position: center;" >

        
          <div *ngFor="let shoe of found_shoes" style="float: right; width: 25%; margin-left:2% ;
          margin-right:2% ; border-style: groove; border: groove; " (click)="display_shoe(shoe.id_shoe)">
            <img style="width: 100%;" src="./assets/shoes/{{shoe.picture}}"
            alt="Card image cap"/>
            
            price:  {{shoe.price}} sale: {{shoe.idsale}}
            
            
           


            <!-- Card -->
            

          </div>

        

      </div>
    </div>
  </div>
</div>